.article#article-show{data: {controller: "article", article_article_id_value: @article.id}}
  -if @article.eyecatch.attached?
    .article_image 
      = image_tag @article.eyecatch
  %h1.article_title
    = @article.title
  .article_detail
    = link_to account_path(@article.user) do
      = image_tag @article.user.avatar_image
    %div
      %p= @article.author_name
      %p= @article.display_created_at
    - if user_signed_in? && current_user.has_written?(@article)
      .article_detail_actions
        .dropdown
          = image_tag "actions.svg", class: "dropbtn"
          .dropdown-content.mini
            = link_to "編集する", edit_article_path(@article)
            = link_to '削除する', article_path(@article), data: { turbo_method: 'delete', turbo_confirm: '本当に削除してもよろしいですか？' }
  .article_content
    = @article.content
  - if user_signed_in?
    .article_heart.hidden.active-heart{ data: { action: "click->article#unlike" } }
      = image_tag "heart-active.svg"

    .article_heart.hidden.inactive-heart{ data: { action: "click->article#like" } }
      = image_tag "heart.svg"

.article 
  %h2= I18n.t("articles.comment_list")
  .comments-container

.container{data: {controller: "article", article_article_id_value: @article.id}}
  .btn-secondary.show-comment-form{ data: { action: "click->article#showForm", article_target: "showButton" } }
    コメントを追加
  .comment-text-area.hidden{ data: { article_target: "commentForm" } }
    = text_area_tag :comment_content, '', id: 'comment_content', class: 'sm'
    .btn-secondary.add-comment-button{ data: { action: "click->article#addComment" } }
      コメントを追加